<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentation.Properties.Settings.QuanLyCFConnectionString"
            connectionString="Data Source=DESKTOP-PTT6BR4\SQLEXPRESS;Initial Catalog=QuanLyCF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyCFConnectionString" connectionString="xpoprovider=MSSqlServer;data source=DESKTOP-PTT6BR4\SQLEXPRESS;initial catalog=QuanLyCF;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=True" />
    </connectionStrings>
</configuration>